.book {
  margin-bottom: 10px;
  background-color: #94B894;

  display: inline;
  margin: 5px;
  padding: 5px;
  float: left;
}
.book .title {
  font-size:60%;
  text-align:center;
  width:100px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
}

.borrowed {
  background-color: #966666;
}

.notice{
  color: green;
  font-size: 200%;
  padding-bottom: 10px;
}

.alert{
  color: red;
  font-size: 200%;
  padding-bottom: 10px;
}

#header {
  font-size: 60px;
}

#header a {
  text-decoration: none;
  color: #444444;
}

body {
  background-color: #E0E0D1;
}

.details{
  margin-bottom: 10px;
}

.footer{
  clear: both;
  padding-top: 20px;
  text-align: center;
}
