div.filter{
  float: right
}

.book_wrapper {
  float: left;
  width: 180px;
  height: 210px;
}

.book {
  margin-bottom: 10px;
  background-color: #94B894;
  display: inline;
  margin: 5px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.book .title {
  font-size:60%;
  text-align:center;
  width:100px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.borrowed {
  background-color: #966666;
}

.requested {
  background-color: #ff8844;
}

.notice{
  color: green;
  font-size: 200%;
  padding-bottom: 10px;
}

.alert{
  color: red;
  font-size: 200%;
  padding-bottom: 10px;
}

#header {
  font-size: 60px;
}

#header a {
  text-decoration: none;
  color: #444444;
}

body {
  background-color: #E0E0D1;
}

.details{
  margin-bottom: 10px;
}

.footer{
  clear: both;
  padding-top: 20px;
  text-align: center;
}

/**
 * New Requests
 */
.request_new #title{
  font-size: 2em;
}

.request_new #name {
  font-size 2em;
}

.request_new #message{
  font-size: 1.2em;
  padding: 10px;
  padding-left: 15px;
}

/**
 * Requests
 */
.request {
  margin: 10px;
}

.title {
  font-size: 1.5em;
}

.name {
  padding-left: 10px;
}

.message {
  margin: 10px;
}

/**
 * Returns
 */
.return_link {
  text-align: center;
}

.return_link a:link {
  color: #6F0000;
}

.return_link a:visited {
  color: #6F0000;
}
