/* line 1, ../../app/stylesheets/book.sass */
.filter {
  float: right;
}

/* line 4, ../../app/stylesheets/book.sass */
.book_wrapper {
  float: left;
  width: 180px;
  height: 210px;
}

/* line 9, ../../app/stylesheets/book.sass */
.book {
  margin-bottom: 10px;
  background-color: #94b894;
  display: inline;
  margin: 5px;
  padding: 10px 5px;
  float: left;
}

/* line 17, ../../app/stylesheets/book.sass */
.book .title {
  display: none;
}

/* line 20, ../../app/stylesheets/book.sass */
.borrowed {
  background-color: #966666;
}

/* line 23, ../../app/stylesheets/book.sass */
.requested {
  background-color: #ff8844;
}
