/* line 1, ../../app/stylesheets/book.sass */
.filter {
  float: right;
}

/* line 4, ../../app/stylesheets/book.sass */
.book_wrapper {
  float: left;
  width: 180px;
  height: 210px;
}

/* line 9, ../../app/stylesheets/book.sass */
.book {
  margin-bottom: 10px;
  background-color: #94b894;
  display: inline;
  margin: 5px;
  padding: 10px 5px;
  float: left;
}

/* line 17, ../../app/stylesheets/book.sass */
.book .title {
  display: none;
}

/* line 20, ../../app/stylesheets/book.sass */
.borrowed {
  background-color: #966666;
}

/* line 23, ../../app/stylesheets/book.sass */
.requested {
  background-color: #ff8844;
}

/* line 26, ../../app/stylesheets/book.sass */
.notice {
  color: green;
  font-size: 200%;
  padding-bottom: 10px;
}

/* line 31, ../../app/stylesheets/book.sass */
.alert {
  color: red;
  font-size: 200%;
  padding-bottom: 10px;
}

/* line 36, ../../app/stylesheets/book.sass */
#header {
  font-size: 60px;
}

/* line 39, ../../app/stylesheets/book.sass */
#header a {
  text-decoration: none;
  color: #444444;
}

/* line 43, ../../app/stylesheets/book.sass */
body {
  background-color: #e0e0d1;
}

/* line 46, ../../app/stylesheets/book.sass */
.details {
  margin-bottom: 10px;
}

/* line 49, ../../app/stylesheets/book.sass */
.footer {
  clear: both;
  padding-top: 20px;
  text-align: center;
}
