.book {
  margin-bottom: 10px;
}

.notice{
  color: green;
  font-size: 200%;
  padding-bottom: 10px;
}

.alert{
  color: red;
  font-size: 200%;
  padding-bottom: 10px;
}

#header {
  font-size: 60px;
}

#header a {
  text-decoration: none;
  color: #444444;
}

