/* line 14, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/book.sass */
.filter {
  float: right;
}

/* line 4, ../../app/stylesheets/book.sass */
.book_wrapper {
  float: left;
  width: 180px;
  height: 210px;
}

/* line 9, ../../app/stylesheets/book.sass */
.book {
  margin-bottom: 10px;
  background-color: #94b894;
  display: inline;
  margin: 5px;
  padding: 10px 5px;
  float: left;
}

/* line 17, ../../app/stylesheets/book.sass */
.book .title {
  display: none;
}

/* line 20, ../../app/stylesheets/book.sass */
.borrowed {
  background-color: #966666;
}

/* line 23, ../../app/stylesheets/book.sass */
.requested {
  background-color: #ff8844;
}

/* line 26, ../../app/stylesheets/book.sass */
.notice {
  color: green;
  font-size: 200%;
  padding-bottom: 10px;
}

/* line 31, ../../app/stylesheets/book.sass */
.alert {
  color: red;
  font-size: 200%;
  padding-bottom: 10px;
}

/* line 36, ../../app/stylesheets/book.sass */
#header {
  font-size: 60px;
}

/* line 39, ../../app/stylesheets/book.sass */
#header a {
  text-decoration: none;
  color: #444444;
}

/* line 43, ../../app/stylesheets/book.sass */
body {
  background-color: #e0e0d1;
}

/* line 46, ../../app/stylesheets/book.sass */
.details {
  margin-bottom: 10px;
}

/* line 49, ../../app/stylesheets/book.sass */
.footer {
  clear: both;
  padding-top: 20px;
  text-align: center;
}

/*
 * New Requests
 */
/* line 57, ../../app/stylesheets/book.sass */
.request_new #title {
  font-size: 2em;
}

/* line 60, ../../app/stylesheets/book.sass */
.request_new #name {
  font-size: 2em;
}

/* line 63, ../../app/stylesheets/book.sass */
.request_new #message {
  font-size: 1.2em;
  padding: 10px;
  padding-left: 15px;
}

/*
 * Requests
 */
/* line 71, ../../app/stylesheets/book.sass */
.request {
  margin: 10px;
}

/* line 74, ../../app/stylesheets/book.sass */
.title {
  font-size: 1.5em;
}

/* line 77, ../../app/stylesheets/book.sass */
.name {
  padding-left: 10px;
}

/* line 80, ../../app/stylesheets/book.sass */
.message {
  margin: 10px;
}

/* line 83, ../../app/stylesheets/book.sass */
.return_link {
  text-align: center;
}
/* line 85, ../../app/stylesheets/book.sass */
.return_link a:link {
  color: #6f0000;
}
/* line 87, ../../app/stylesheets/book.sass */
.return_link a:visited {
  color: #6f0000;
}

/* line 6, ../../app/stylesheets/screen.sass */
#wrapper_one {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 12, ../../app/stylesheets/screen.sass */
#wrapper_two {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
/* line 33, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_1, #wrapper_two .grid_2, #wrapper_two .grid_3, #wrapper_two .grid_4, #wrapper_two .grid_5, #wrapper_two .grid_6, #wrapper_two .grid_7, #wrapper_two .grid_8, #wrapper_two .grid_9, #wrapper_two .grid_10, #wrapper_two .grid_11, #wrapper_two .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_1 {
  width: 60px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_2 {
  width: 140px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_3 {
  width: 220px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_4 {
  width: 300px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_5 {
  width: 380px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_6 {
  width: 460px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_7 {
  width: 540px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_8 {
  width: 620px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_9 {
  width: 700px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_10 {
  width: 780px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_11 {
  width: 860px;
}
/* line 36, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .grid_12 {
  width: 940px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_1 {
  padding-left: 80px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_2 {
  padding-left: 160px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_3 {
  padding-left: 240px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_4 {
  padding-left: 320px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_5 {
  padding-left: 400px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_6 {
  padding-left: 480px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_7 {
  padding-left: 560px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_8 {
  padding-left: 640px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_9 {
  padding-left: 720px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_10 {
  padding-left: 800px;
}
/* line 44, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .prefix_11 {
  padding-left: 880px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_1 {
  padding-right: 80px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_2 {
  padding-right: 160px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_3 {
  padding-right: 240px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_4 {
  padding-right: 320px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_5 {
  padding-right: 400px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_6 {
  padding-right: 480px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_7 {
  padding-right: 560px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_8 {
  padding-right: 640px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_9 {
  padding-right: 720px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_10 {
  padding-right: 800px;
}
/* line 52, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .suffix_11 {
  padding-right: 880px;
}
/* line 56, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .alpha {
  margin-left: 0;
}
/* line 58, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .omega {
  margin-right: 0;
}
/* line 71, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_1, #wrapper_two .push_2, #wrapper_two .push_3, #wrapper_two .push_4, #wrapper_two .push_5, #wrapper_two .push_6, #wrapper_two .push_7, #wrapper_two .push_8, #wrapper_two .push_9, #wrapper_two .push_10, #wrapper_two .push_11, #wrapper_two .push_12,
#wrapper_two .pull_1, #wrapper_two .pull_2, #wrapper_two .pull_3, #wrapper_two .pull_4, #wrapper_two .pull_5, #wrapper_two .pull_6, #wrapper_two .pull_7, #wrapper_two .pull_8, #wrapper_two .pull_9, #wrapper_two .pull_10, #wrapper_two .pull_11, #wrapper_two .pull_12 {
  position: relative;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_1 {
  left: 80px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_1 {
  left: -80px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_2 {
  left: 160px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_2 {
  left: -160px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_3 {
  left: 240px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_3 {
  left: -240px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_4 {
  left: 320px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_4 {
  left: -320px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_5 {
  left: 400px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_5 {
  left: -400px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_6 {
  left: 480px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_6 {
  left: -480px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_7 {
  left: 560px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_7 {
  left: -560px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_8 {
  left: 640px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_8 {
  left: -640px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_9 {
  left: 720px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_9 {
  left: -720px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_10 {
  left: 800px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_10 {
  left: -800px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_11 {
  left: 880px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_11 {
  left: -880px;
}
/* line 75, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .push_12 {
  left: 960px;
}
/* line 77, ../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
#wrapper_two .pull_12 {
  left: -960px;
}

/* line 16, ../../app/stylesheets/screen.sass */
#header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 20px;
}
/* line 22, ../../app/stylesheets/screen.sass */
#header h1 {
  font-size: 60px;
}

/* line 25, ../../app/stylesheets/screen.sass */
#column_1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-left: 0;
}

/* line 31, ../../app/stylesheets/screen.sass */
#column_2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-right: 0;
}

/* line 36, ../../app/stylesheets/screen.sass */
#main {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  margin-right: 0;
}

/* line 42, ../../app/stylesheets/screen.sass */
.location {
  clear: both;
}

/* line 45, ../../app/stylesheets/screen.sass */
.new {
  clear: both;
  padding-bottom: 15px;
}
