
<div class='book_wrapper'>
    <div class='book <%= book.book_status_css %>'>
      <%= link_to image_tag(book.image_url, :title => book.borrow_status), book %> 
    <p class='title'><%= book.title %></p>
  </div>
</div>

