.book_wrapper
  .book{ :class => book.book_status_css }
    = link_to image_tag(book.image_url, :title => book.borrow_status), book

    %p.title
      = book.title

    - if book.borrowed?
      .return_link
        = link_to "Return book", return_book_path(book)
