
<% @locations.each do |location| %>
  <div class='location'>
    <h1><b><%= link_to location.name, "locations/#{location.id}" %></b></h1>

    <% location.books.each do |book| %>
      <div class='book'>
        <%= link_to image_tag(book.image_url), book %> 
      </div>
    <% end %>

  </div>
<% end %>

