<b>About us:</b>
<br />
<br />
<a href="http://www.flickr.com/photos/baltimorehackathon/5193351501/" title="DSC_0022 by baltimorehackathon, on Flickr"><img src="http://farm5.static.flickr.com/4126/5193351501_851e2b1649_z.jpg" width="640" height="349" alt="DSC_0022" /></a>
<br /><br />
<b>Developers:   Eric Oestrich, Patricia Gorla, Paul Kauders</b><br /><br />
<p>Contributors:   Jason Denney, Michael Rosner, Jonathan Julian, Scott Messenger, and the Baltimore Hackathon!</p>