%b
  About us:
%br
%br

= link_to image_tag("http://farm5.static.flickr.com/4126/5193351501_851e2b1649_z.jpg", :width=>"640", :height=>"349", :alt=>"DSC_0022"), "http://www.flickr.com/photos/baltimorehackathon/5193351501/"

%br 
%br 

%b
  Developers:   Eric Oestrich, Patricia Gorla, Paul Kauders
  %br
  %br

%p
  Contributors:   Jason Denney, Michael Rosner, Jonathan Julian, Scott Messenger, and the Baltimore Hackathon!

%br
%p{ :style => "margin-bottom: 15px;" }
  Visit us on 
  = link_to "github", "http://github.com/oestrich/bookshare"
