
<% if can? :create, Book %>
  <div class="new">
    <%= link_to 'New Book', new_book_path %>
  </div>
<% end %>

<% if can? :create, Location %>
  <div class='new'>
    <%= link_to "New Location", new_location_path %>
  </div>
<% end %>

<%= render :partial => 'index' %>

<br />

