
<div class="new">
  <% if can? :create, Book %>
    <%= link_to 'New Book', new_book_path %>
  <% end %>
  <% if can? :create, Location %>
    <%= link_to "New Location", new_location_path %>
  <% end %>
</div>

<%= render :partial => 'index' %>

<br />

